body{
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/*estilos CLIENTE*/

.container-cliente{
    position: center;
    width: 80%;
    position:relative;
    left: 285px;
    float: none;
    display: inline-block;
    margin-top: 60px;
}

.container-soporte{
    position: center;
    width: 80%;
    position:relative;
    left: 285px;
    float: none;
    display: inline-block;
    margin-top: 30px;
}

.container-auxiliar{
    position: center;
    width: 80%;
    position:relative;
    left: 285px;
    float: none;
    display: inline-block;
    margin-top: 30px;
}

.contenedor-flexbox {
    display: flex; 
    justify-content: space-between; /*Con esto le indicamos que margine todos los items que se encuentra adentro hacia la derecha e izquierda*/
    align-items: normal; /*con esto alineamos de manera vertical*/
}

/*ESTILOS MENU LATERAL */

.sidebar{
    position:  fixed;
    width: 260px;
    height: 100%;
    padding-top: 20px;
    left: 0;
    background-color: #C19FE2;
}

.sidebar h3{
    margin-left: 20px;
    font-size: 35px;
    color: white;
}

.sidebar strong{
    color: black;
}

.sidebar h4{
    margin-left: 20px;
    font-size: 25px;
    color: black;
}

.sidebar h5{
    margin-left: 20px;
    font-size: 15px;
    color: black;

}

.sidebar a{
    color: black;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property:background;
}

.sidebar a:hover{
    background: #A2E0EB;
}

.sidebar ion-icon{
    padding-right: 10px;
}

.botonaso{
    margin-top: 340px;
}

.card{
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

.but{
    border: transparent;
    background-color: transparent;
    color: white;
}

.modal-Center{
    top: 25%;
    transform: translateY(-25%);
}

.btn-primary {
    background-color:#c827e0;
    border-color: #c827e0; 
    color: #fff;
  }
  
  .btn-primary:hover {
    background-color: darkorchid;
    border-color: darkorchid;
    color: #fff;
  }

  .btn-primary:disabled{
    background-color: darkorchid;
    border-color: darkorchid;
    color: #fff;
  }

.consulta{
    margin-right: 20%;
    
}
.perfil img{
    position: relative;
    width: 50px;
    height: 50px;
    left: 28px;
    margin-bottom: 5px;

}

h6{
    margin-left: 20px;

}