body{
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.cont-menu{
    width: 100%;
    max-width: 250px;
    max-height: auto;
    background: white;
    height: 100vh;
    display: inline-block;
}
#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}
.cont-menu nav{
    transform: translateY(15%);
}

.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 15px;
    color: black;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}

.cont-menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background:rgba(197, 151, 208, 0.515);
}
.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

.container-cliente{
    width: 80%;
    position:absolute;
    left: 225px;
    float: none;
    display: inline-block;
    margin-top: 30px;
}

.contenedor-flexbox {
    display: flex; 
    justify-content: space-between; /*Con esto le indicamos que margine todos los items que se encuentra adentro hacia la derecha e izquierda*/
    align-items: normal; /*con esto alineamos de manera vertical*/
}